name: GitOps Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y yamllint
          curl -L https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz \
            | tar xz
          sudo mv kubeconform /usr/local/bin

      - name: YAML lint
        run: |
          yamllint .

      - name: Kubernetes schema validation
        run: |
          find apps -name "*.yaml" \
            | xargs kubeconform \
              -strict \
              -ignore-missing-schemas
